@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-main: #396aff;
    --main-accent: #e9eefd;
    --main-text: #4b5876;
    --bg: #fbfefd;
    --bg2: #dce5ff;
    --shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background: var(--bg2);
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}
#menu-toggle {
    display: none;
}

.sidebar {
    width: 345px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 1.2rem;
}

.sidebar-container {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 1.2rem;
    overflow-y: auto;
}

.sidebar-avatar {
    
    align-items: center;
    border: 2px solid var(--main-accent);
    padding: .1rem .7rem;
    border-radius: 7px;
    margin: 2.5rem 0rem;
}

.sidebar-avatar img {
    height: 60px;
    width: 60px;
}

.sidebar-card {
    background: var(--main-accent);
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 2rem;
    box-shadow: var(--shadow);
}
.sidebar-card__icon span {
    font-size: 8rem;
    color: var(--color-main);  
    display: inline-block;
}

.sidebar-card__icon {
    margin-bottom: .8rem;
}

.brand h2{
    color: #444;
}

.brand h2 span {
    color: var(--color-main);
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .5rem;
}

.avatar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu li {
    margin-bottom: .2rem;
}

.sidebar-menu a {
    color: var(--main-text);
    display: block;
    padding: .7rem 0rem;
}

.sidebar-menu a.active {
    background-color: var(--main-accent);
    padding: .7rem;
    border-radius: 7px;
}

.sidebar-menu a span:first-child {
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.5rem;
    color: var(--color-main);
}

.main-content {
    margin-left: 345px;
    width: calc(100vw - 345px);
    padding: 1rem 1.2rem;
}

.btn {
    padding: .5rem 1rem;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.btn span {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: .7rem;
}

.btn-main {
    background: var(--color-main);
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
}

.header-wrapper {
    display: flex;
}

.header-title {
    color: var(--main-text);
    font-weight: 600;
}
.header-title label {
    display: inline-block;
    color: var(--color-main);
    margin-right: 2rem;
    font-size: 1.8rem;
}

.header-title h1 {
    color: var(--main-text);
    font-weight: 600;
}

.header-title p {
    color: #666;
    font-size: .9rem;
}

.header-title p span {
    color: red;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
}

.header-action button {
    padding: 1rem 2rem;
    font-size: 1rem;
}


