{% extends "base.html" %}

{% block main %}

<div class="main-content">
    <header>
        <div>
            <label for="">
                <span class="las la-bars"></span>
            </label>
            <div>
                <h1>
                    Analytics
                    <span>Display analytics</span>
                </h1>
            </div>
        </div>
        <div class="header-action">
            <button class="btn btn-main">
                <span class="las la-video"></span>
                Upload
            </button>
        </div>
    </header>
</div>

{% endblock %}